@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');

$primaryBlue: #29b6f6;
$primaryGrey: #444444;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Raleway', sans-serif;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.shell {
  width: calc(90% - 20px);
  max-width: 1170px;
  margin: 0 auto;
}

@import 'header';
@import 'intro';

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.section {
  padding: 110px 0;
}

.section_head {
  text-align: center;
  margin-bottom: 80px;
}

.section_head h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #202020;
}

.section_head p {
  line-height: 30px;
  font-size: 14px;
  color: #999;
}

@media (min-width:800px) {
  .section_head h2 {
      font-size: 40px;
  }
}

@media (min-width:1023px) {
  .section_head p {
      max-width: 60%;
      margin-left: 20%;
  }
}

@import 'card';
@import 'services';
@import 'special';
@import 'cases';
@import 'testimonials';
@import 'clients';
@import 'prices';
@import 'blog';
@import 'footer';

.slick-slide, .slick-slide *{ outline: none; }
